layout {
	pane_template name="cargo" {
		command "cargo"
		start_suspended true
	}
	pane_template name="compact_bar" borderless=true {
		plugin location="zellij:compact-bar"
	}
	tab name="Editor&Cargo" focus=true {	
		pane split_direction="vertical" {	
			pane edit="src/main.rs" size=126 borderless=true 

			pane split_direction="horizontal" { 
				cargo { args "clippy"; }
				cargo { args "test"; }
				cargo { args "run"; }
			}
		}
		compact_bar size=1 {}
	}
	tab name="git&pomo" focus=false {
		pane split_direction="vertical" {
			pane command="gitui" size=126 borderless=true
			pane name="pomodoro"
		}
		compact_bar size=1 {}
	}
}